<!DOCTYPE html>
<html>
  <body>
    <ul>
        <% for (let i in quizzes){ %>
        <% const quiz = quizzes[i]; %>
        <li>
            <%= quiz.question %> : <%= quiz.answer%>
        </li>
        <% } %>
    </ul>
    <a href = "/" > Volver </a>
  </body>
</html>